  <h2> ¡Sumate y empezá a jugar! </h2>
  <form #ingresoForm="ngForm">
    <div class= "form-group">
      <label>Nombre</label>
      <input type="text" class="form-control" id="nombre"
      [(ngModel)]="persona.nombre" name="nombre">
    </div>
    <div class= "form-group">
      <label>Mail</label>
      <input type="email" class="form-control" id="email"
      [(ngModel)]="persona.email" name="email">
    </div>
    <!-- <div class= "form-group">
      <label>Equipo</label>
      <input type="text" class="form-control" id="equipo"
      [(ngModel)]="persona.equipo" name="equipo">
    </div> -->
    <div class= "form-group">
      <label>Contraseña</label>
      <input type="password" class="form-control" id="clave"
      [(ngModel)]="persona.clave" name="clave">
    </div>
    <button (click)="registracion()" class="btn btn-success" [disabled]="!ingresoForm.form.valid">Registrarse</button>
  </form>
