<h2>¡Bienvenido!</h2>
<form #ingresoForm="ngForm">
  <div class= "form-group">
    <label>Mail</label>
    <input type="email" class="form-control" id="email" required
    [(ngModel)]="model.email" name="email">
  </div>
  <div class= "form-group">
    <label>Contraseña</label>
    <input type="password" class="form-control" id="clave" required
    [(ngModel)]="model.clave" name="clave">
  </div>
  <button class="btn btn-default" type="button" (click)="onSubmit()" >Ingresar</button>
</form>
<div>
  <label>{{error}}</label>
</div>
