<h2>¡Bienvenido!</h2>
<form #ingresoForm="ngForm">
  <div class= "form-group">
    <label>Mail</label>
    <input type="email" class="form-control" id="email"
    [(ngModel)]="model.email" name="email" required>
  </div>
  <div class= "form-group">
    <label>Contraseña</label>
    <input type="password" class="form-control" id="clave"
    [(ngModel)]="model.clave" name="clave" required>
  </div>
  <button class="btn btn-default" type="button" (click)="onSubmit()" [disabled]="!ingresoForm.form.valid">Ingresar</button>
</form>
<div id="error" *ngIf="!error">
  {{msj}}
</div>
