<h2>¡Bienvenido!</h2>
<form (ngSubmit)="onSubmit()" #ingresoForm="ngForm">
  <div class= "form-group">
    <label>Mail</label>
    <input type="mail" class="form-control" id="mail" required
    [(ngModel)]="model.mail" name="mail">
  </div>
  <div class= "form-group">
    <label>Contraseña</label>
    <input type="password" class="form-control" id="pass" required
    [(ngModel)]="model.pass" name="pass">
  </div>
  <button type="submit">Ingresar</button>
</form>
<div>
  <label><a href="">¿Olvidaste tu contraseña?</a></label>
</div>
