table, th, td {
   border: 1px solid black;
   border-collapse: collapse;
}
#soccer-fields { align-self: right;}
table#field-table {
  text-align:center;
  margin-left:auto;
  margin-right:auto;
}
h2 {
  margin-top: 0;
}
